@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    margin: 0;
    padding: 0;
    background: white;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1vw;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}
p{
    text-align: center;
}
.body{
    position: relative;
    margin: 5% auto;
    top: 50px;
    border-radius: 4px;
    width: 60%;
    padding-top: 34%;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 2;
    text-align:left;
}
.sign-up-page{
    display: block;
}
.sign-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 5%;
    width: 50%;
    height: 100%;
}

h2{
    padding-top: 10%;
    margin: 0 20 20px 0;
    font-weight: 300;
    font-size: 1.7vw;
    color: black;
}

input[type='text'], input[type='password']{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.25vw 0;
    padding: 1vw 1.5vw;
    padding-right: 3vw;
    border: 1px solid #cccccc;
    width: 100%;
    outline: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.material-icons{
    position: absolute;
    left: 83%;
    top: 49%;
    font-size: 150%;
    color: #999999;
}

.material-icons.active{
    color: dodgerblue;
}

input[type="text"]:focus, input[type="password"]:focus{
    border:1px solid lightblue;
    outline:none;
}

input[type='submit']{
    width: 100%;
    height: 8%;
    background: #1260de;
    margin: 0.5vw 0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1vw;
    cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus{
    background: blue;
    transition: 0.2s ease;
}
.sign-box-text{
    text-align: right;
}
label#text{
    font-size: 15px;
}
.pic-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 55%;
    height: 100%;
    background-image: url(left1.png);
    background-size: 25vw;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    position: relative;
    padding-bottom: 1vw;
}

img#logo{
    width: 30%;
    float: left;
}

a {
    color: inherit;
    text-decoration: none currentcolor solid;
}