<!DOCTYPE html>
<html>

<head>
    <title>Sign up / Sign in</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'synergy/login.css' %}">
</head>

<script>
    function togglePass() {
        var x = document.getElementById('pwd');
        var y = document.getElementById('pwd-icon');

        if (x.type === 'password') {
            x.type = 'text';
            y.style.color = 'dodgerblue';
        }else {
            x.type = 'password';
            y.style.color = '#999999';
        }
    }
</script>

<body>
    <div id="registration">
        <div class="body">
            <div class="sign-up-page">
                <div class="pic-box"></div>
                <div class="sign-box">
                    <div class='title'>
                        {% load static %}
                        <img src="{% static 'synergy/logo.png' %}" alt='logo' id='logo'>
                        <h2>Welcome! <br>Sign in to Synergy</h2>
                    </div>
                    <form method="post">
                    {% csrf_token %}
                    <div class='sign-box-text'>
                        {{ form.username }}
                        <div class= 'pwd-container'>
                            {{ form.password }}
                            <span class="material-icons visibility" id='pwd-icon' onclick="togglePass()">
                                visibility
                            </span><br>
                        </div>
                        <label id='text'><a href="{% url 'password_reset' %}">Forgot Password?</a></label><br>
                    </div>
                    <input type='submit' name='signup-button' value='Login'/>
                    </form>
                    {% if form.errors %}
                        {{ form.error_messages.invalid_login }}
                    {% endif %}
                    <p> Don't have an account? Click <u><a href="{% url 'register' %}">here</a></u> to sign up.</p>
                </div>
            </div>
        </div>
    </div>
</body>