{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'synergy/style.css' %}">

{% csrf_token %}

<form method="post">
    <div id='product-page'>
        <div class='body'>
            <div class='right-box'></div>
            <div class = 'left-box'>
                {% load static %}
                <img src="{% static 'synergy/logo.png' %}" alt='logo' id='logo'>
                <h2>Product Input Form</h2>
                <div class='left-box-text'>
                    {{ my_form }}
                </div>
                <input type='submit' name='signup-button' value='Submit'/>
            </div>
        </div>>
    </div>
</form>
